@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

body {
  background: #000323;
}

/* text-color {
  color: white
} */

/* letter-capital {
  text-transform: capitalize;
} */

button {
  
  transition: all 0.3s ease;
  transform: scale(1);
}

button:hover {
  /* background: #45a049; */
  transform: scale(1.05);
  transition: all 0.3s ease;
}

care-gradient {
  fill: linear-gradient(180deg, #05093C 50.6%, #060E69 100%);
}
